[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
evm_version = "paris"
via_ir = false

[profile.default.fuzz]
runs = 256
max_test_rejects = 65536

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = true

remappings = [
    "forge-std/=lib/forge-std/src/"
]

# https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md
